.listmain {
  position: relative;
  width: 100%;
  top: 360px;
  margin-bottom: 50px;
  z-index: 1;
  background-color: white;
}
.listmain li {
  list-style: none;
}
.listmain li .list-music {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
}
.listmain li .list-music .num {
  width: 15%;
  font-size: 20px;
  text-align: center;
  color: #939393;
}
.listmain li .list-music .music-name {
  width: 275px;
  letter-spacing: 0.7px;
}
.listmain li .list-music .music-name p:nth-child(1) {
  font-size: 15px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.listmain li .list-music .music-name .tag-author {
  display: flex;
  align-items: center;
}
.listmain li .list-music .music-name .tag-author .tag {
  height: 20px;
}
.listmain li .list-music .music-name .tag-author img:nth-child(1) {
  height: 23px;
}
.listmain li .list-music .music-name .tag-author .author-name {
  font-size: 10px;
  color: #828282;
  margin-left: 3px;
}
.listmain li .list-music .option {
  position: absolute;
  right: 0;
  width: 50px;
}
.listmain li .list-music .mv-list {
  width: 30px;
  height: 30px;
}
.toplay {
  color: black;
}
.toplay:active {
  color: black;
}
.toplay:hover {
  text-decoration: none;
  color: black;
}
