#yuer-listheader{ 
    position: fixed;
    z-index: 2;
    background-size: cover;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.header-middle{
    display: flex;
    justify-content: space-around;
    height:  170px;
    .list-cover{
        height: 150px;
        width:  150px;
        border-radius: 5px;
        margin:10px;
    }
    #middle-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 204px;
        margin-top: 5px;
        color: white;
        p:nth-child(1){
            width: 90%;
            height:  50px;
            font-weight: bold;
            letter-spacing: .5px;
            font: 17px/25px "微软雅黑";
            overflow: hidden;
            display:-webkit-box;//弹性伸缩盒子,flex没有效果
            -webkit-line-clamp: 2;//限制行数
            -webkit-box-orient: vertical; 
        }
        #list-author{
            margin: 10px;
            display: flex;
            align-items: center;
            img{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin-right: 10px;
            }
            span{
                color: rgb(202, 199, 199);
                font-size: 14px;
            }
        }
        .introduce{
            color: rgb(202, 199, 199);
            width: 90%;
            height: 40px;
            line-height: 19px;
            overflow: hidden;
            font-size: 12px;
            //文本超出两行时，以省略号表示，在webkit内核的浏览器内生效
            display:-webkit-box;//弹性伸缩盒子
            -webkit-line-clamp: 2;//限制行数
            -webkit-box-orient: vertical; 
        }
    }
}
.header-btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    .header-btn{
        width: 30px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            height: 30px;
        }
        p{
            text-align: center;
            width:  30px;
            color: #cdcdcd;
            line-height:  19px;
            font-size: 12px;
        }
    }
}

.header-top{
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    .backto,.searchinlist{
        height: 35px;
        width: 35px;
        margin: 0 15px;
    }
    #list-title{
        width: 90%;
        color: white;
        p:nth-child(1){
            font-size: 20px;
        }
        p:nth-child(2){
            font-size: 10px;
            color: rgb(209, 209, 209);
            width: 70%;
        }
    }
}

/*
    添加遮罩层的正确思想：

        其实添加遮罩层，就是给父元素的最底层覆盖上一次。我们就在父元素下添加一个div，让div覆盖整个父元素就可以了。然后其他子元素和
        遮罩层为兄弟元素，它们可以比较z-index，所以如果子元素要显示在遮罩层上部的话，设置层级大于遮罩层就可以了

        1.如果想给一个界面添加一个遮罩层，就在这个界面的根元素下，添加一个子元素div作为遮罩层。并且设置遮罩层元素层级高于这个根元素，这样就可以把底部遮罩住了。
            
        不要想给界面根元素外，添加遮罩层，在外面添加遮罩层的话，子元素就一定会被覆盖了。
        
        注意：遮罩层应该是根元素的子元素，和根元素上的其他元素互为兄弟元素。不能让遮罩层为其他元素的父级或父级以上

        因为z-index层级关系，只和同一父级元素下的兄弟元素相比。不同父级元素下，即使z-index远高于另一个元素，也不一定显示在它上层，因为父级元素z-index可能不同
        

        2.然后看遮罩层是否需要遮住其他兄弟元素，给根元素下的其他兄弟元素添加层级关系（这些元素和遮罩层为兄弟元素，），需要在遮罩层上的，层级高于遮罩层，需要在遮罩层下的，层级低于遮罩层
*/

//为了给背景图添加遮罩层，给子元素添加定位层级，让子元素显示在遮罩上层
.overcover{
    position: relative;
    z-index: 4;
}
//高斯模糊层
#yuer-listheader::after{
    content: "";
    position: fixed;
    background: inherit;
    filter: blur(50px); 
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height:  250px;
  }
//半透明层
.cover{
    position: fixed;
    z-index: 4;
    width: 100%;
    height:  350px;
    background-color: rgba(0, 0, 0, 0.6);
}