#yuer-middle{
    position: relative;
}
#middle-rotchare{
    position: relative;
    height: 4.79169rem;
    // 七张图加上边距，要大于700%
    width: 1200%;
    overflow: hidden;
    .rotchartPic{
        position: relative;
        height: 4.33952rem;
        width: 8.1%;
        margin: .24108rem .117%;
        border-radius: .12054rem;
    }
   
}
#rotchare-dots{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,0);
    height: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    span{
        position: relative;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: white;
    }
}
//手动控制left值实现移动，加上过渡动画就行了


