#yuer-cards,.card{
    width: 100%;
    overflow: hidden;
}
#yuer-cards{
     box-shadow: 0 -.062054rem .1054rem rgb(232, 240, 245);
}

.card{
    height:7.52712rem;
    width: 100%;
    margin-bottom: .36163rem;
    box-shadow: 0 .062054rem .1054rem rgb(232, 240, 245);
    #about{
        margin-left: 5%;
        height: 17%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .2893rem;
        .cardIcon{
            height: .47217rem;
        }
    }
}

#mv{
    height: 80%;
    width: 90%;
    margin: 3%  5% 0 5%;
    border-radius: .12054rem;
    background-color: rgb(235, 239, 253);
    #mv-main {
        position: relative;
        height: 80%;
        .mvPic{
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: .12054rem .12054rem 0 0;
            z-index: 1;
        }
        .mv-left,.mv-right{
            position: absolute;
            z-index: 2;
            bottom: 0;
            color: white; 
            width: 2.16976rem;
            height: .8438rem;
            display: flex;
            align-items: center;
            img{
                width: .36163rem;
                height: .36163rem;
            }
            span{
                font-size: .2893rem;
                margin: 0 .12054rem;
            }
        }
        .mv-left{
            justify-content: left;
            left: .24108rem;
        }
        .mv-right{  
            justify-content: right;
            right: -0.60271rem;
        }
        .mv-middle{
            
            border-left: 40px solid rgba(243, 241, 241,.7);
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            position: absolute;
            height: 0;
            width: 0;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    } 
}


#infoOfMv-card{
    height: 20%;
    display: flex;
    align-items: center;
    span{
        font-size: .36163rem;
        padding: 0 3%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    span:nth-child(1){
        width: 85%;
    }
    span:nth-child(2){
        font-size: .2893rem;
        color: gray;
        width: 17%;
    }
}

#cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        display: inline-block;
    }
}

.ground{
    border: .02411rem solid gray;
    padding: .07233rem  .24108rem;
    border-radius: .36163rem;
    color: gray;
    text-align: center;
    font-size: .24108rem;
}