#yuer-cards,
.card {
  width: 100%;
  overflow: hidden;
}
#yuer-cards {
  box-shadow: 0 -0.062054rem 0.1054rem #e8f0f5;
}
.card {
  height: 7.52712rem;
  width: 100%;
  margin-bottom: 0.36163rem;
  box-shadow: 0 0.062054rem 0.1054rem #e8f0f5;
}
.card #about {
  margin-left: 5%;
  height: 17%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.2893rem;
}
.card #about .cardIcon {
  height: 0.47217rem;
}
#mv {
  height: 80%;
  width: 90%;
  margin: 3%  5% 0 5%;
  border-radius: 0.12054rem;
  background-color: #ebeffd;
}
#mv #mv-main {
  position: relative;
  height: 80%;
}
#mv #mv-main .mvPic {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.12054rem 0.12054rem 0 0;
  z-index: 1;
}
#mv #mv-main .mv-left,
#mv #mv-main .mv-right {
  position: absolute;
  z-index: 2;
  bottom: 0;
  color: white;
  width: 2.16976rem;
  height: 0.8438rem;
  display: flex;
  align-items: center;
}
#mv #mv-main .mv-left img,
#mv #mv-main .mv-right img {
  width: 0.36163rem;
  height: 0.36163rem;
}
#mv #mv-main .mv-left span,
#mv #mv-main .mv-right span {
  font-size: 0.2893rem;
  margin: 0 0.12054rem;
}
#mv #mv-main .mv-left {
  justify-content: left;
  left: 0.24108rem;
}
#mv #mv-main .mv-right {
  justify-content: right;
  right: -0.60271rem;
}
#mv #mv-main .mv-middle {
  border-left: 40px solid rgba(243, 241, 241, 0.7);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#infoOfMv-card {
  height: 20%;
  display: flex;
  align-items: center;
}
#infoOfMv-card span {
  font-size: 0.36163rem;
  padding: 0 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#infoOfMv-card span:nth-child(1) {
  width: 85%;
}
#infoOfMv-card span:nth-child(2) {
  font-size: 0.2893rem;
  color: gray;
  width: 17%;
}
#cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cards-header p {
  display: inline-block;
}
.ground {
  border: 0.02411rem solid gray;
  padding: 0.07233rem 0.24108rem;
  border-radius: 0.36163rem;
  color: gray;
  text-align: center;
  font-size: 0.24108rem;
}
