#comments{
    position: absolute;
    top: 62.5%;
    height: 37.5%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
} 
.comments-title{
    font-size: .48217rem;
    margin: .24108rem;
}

.comments-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 243, 243);
    height: 1.20542rem;
}
.loading{
    text-align: center;
    width: 100%;
    font: .2893rem/.96434rem "微软雅黑";
}