#yuer-cards,
.card {
  width: 100%;
  overflow: hidden;
}
#yuer-cards {
  box-shadow: 0 5px 0.2px #e8f0f5;
}
.card {
  height: 300px;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 0 4.5px 4.5px #e8f0f5;
}
.card #about {
  margin-left: 5%;
  height: 17%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}
.card #about .cardIcon {
  height: 19.58px;
}
#mv {
  height: 80%;
  width: 90%;
  margin: 3%  5% 0 5%;
  border-radius: 5px;
  background-color: #ebeffd;
}
#mv #mv-main {
  position: relative;
  height: 80%;
}
#mv #mv-main .mvPic {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  z-index: 1;
}
#mv #mv-main .mv-left,
#mv #mv-main .mv-right {
  position: absolute;
  z-index: 2;
  bottom: 0;
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
}
#mv #mv-main .mv-left img,
#mv #mv-main .mv-right img {
  width: 15px;
  height: 15px;
}
#mv #mv-main .mv-left span,
#mv #mv-main .mv-right span {
  font-size: 12px;
  margin: 0 5px;
}
#mv #mv-main .mv-left {
  left: 12px;
}
#mv #mv-main .mv-right {
  right: 12px;
}
#mv #mv-main .mv-middle {
  border-left: 40px solid rgba(243, 241, 241, 0.7);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#infoOfMv-card {
  height: 20%;
  display: flex;
  align-items: center;
}
#infoOfMv-card span {
  font-size: 15px;
  padding: 0 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#infoOfMv-card span:nth-child(1) {
  width: 85%;
}
#infoOfMv-card span:nth-child(2) {
  font-size: 12px;
  color: gray;
  width: 17%;
}
#cards-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
#cards-header p {
  display: inline-block;
}
.title {
  font: 15px "微软雅黑";
  margin: 0 19.9px 0 17px;
}
.splitline {
  margin: 10px 0  ;
  height: 1px;
  border: 0;
  background-color: #e8f5fa;
}
.ground {
  border: 1px solid gray;
  padding: 3px  10px;
  border-radius: 15px;
  color: gray;
  text-align: center;
  font-size: 10px;
}
