#yuer-bottom {
  margin: 0.36163rem 0;
  width: 100%;
  box-shadow: 0 0.032054rem 0.22054rem #e8f0f5;
  overflow: hidden;
}
#yuer-bottom #yuer-recomends {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.12054rem;
}
#yuer-bottom #yuer-recomends #recommend-item {
  display: inline-block;
  width: 25%;
  height: 47%;
  margin: 1.2% 4%;
}
#yuer-bottom #yuer-recomends #recommend-item img,
#yuer-bottom #yuer-recomends #recommend-item p {
  width: 100%;
  border-radius: 0.17233rem;
}
#yuer-bottom #yuer-recomends #recommend-item p {
  height: 0.36125rem;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: 0.21698rem "微软雅黑";
  letter-spacing: 0.019rem;
}
#yuer-bottom #yuer-recomends #recommend-item p:nth-child(3) {
  color: gray;
}
.title {
  font: 0.48217rem "微软雅黑";
  margin: 0.20984rem 0.47984rem 0 0.40984rem;
}
.splitline {
  margin: 0.24108rem 0;
  height: 0.02411rem;
  border: 0;
  background-image: linear-gradient(90deg, transparent, red, transparent);
}
