#yuer-bottom{
    margin: .36163rem 0;
    width: 100%; 
    box-shadow: 0 .032054rem .22054rem rgb(232, 240, 245);
    overflow: hidden;
    #yuer-recomends{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: .12054rem;
        #recommend-item{
            display: inline-block;
            width: 25%;
            height: 47%;
            margin: 1.2% 4%;
            img,p{
                width: 100%;
                border-radius: .17233rem;
            }
            p{
                height: .36125rem;
                word-break:break-all;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font: .21698rem "微软雅黑";
                letter-spacing: .019rem;
            }
            p:nth-child(3){
                color: gray;
            }
        }
    }
}
//这两个类在其他组件用到，所以写在外面
.title{
    font: .48217rem "微软雅黑";
    margin: .20984rem .47984rem 0 .40984rem;
}
.splitline{
    margin: .24108rem 0;
    height: .02411rem;
    border: 0;
    background-image: linear-gradient(90deg,transparent,red,transparent);
}