#yuer-middle {
  position: relative;
}
#middle-rotchare {
  position: relative;
  height: 4.79169rem;
  width: 1200%;
  overflow: hidden;
}
#middle-rotchare .rotchartPic {
  position: relative;
  height: 4.33952rem;
  width: 8.1%;
  margin: 0.24108rem 0.117%;
  border-radius: 0.12054rem;
}
#rotchare-dots {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  height: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
#rotchare-dots span {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: white;
}
