#middle-rotchare {
  position: relative;
  height: 4.82169rem;
  width: 1200%;
  overflow: hidden;
}
#middle-rotchare .rotchartPic {
  position: relative;
  height: 4.33952rem;
  width: 8.1%;
  margin: 0.24108rem 0.116%;
  border-radius: 0.12054rem;
}
