#player-mv {
  position: fixed;
  height: 62.5%;
  width: 100%;
  background-color: white;
}
#playing {
  height: 51%;
  width: 100%;
  background-color: black;
}
#playing video {
  height: 100%;
  width: 100%;
}
#title {
  display: flex;
  height: 10.87%;
  width: 100%;
  align-items: center;
  box-shadow: 0 -0.12054rem 0.12054rem #e8f0f5;
}
#title img:nth-child(1) {
  margin: 0 0.24108rem;
  height: 0.60271rem;
}
#title span:nth-child(2) {
  font: 0.48217rem/1.20542rem "微软雅黑";
  height: 1.20542rem;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#infoOfMv {
  height: 3.26%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#infoOfMv span {
  margin: 0 0.24108rem;
  font-size: 0.2893rem;
  color: gray;
}
#author {
  height: 10.87%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#author img {
  height: 1.20542rem;
  width: 1.20542rem;
  border-radius: 50%;
  margin: 0 0.24108rem;
}
#author .author-name {
  width: 70%;
  color: gray;
  font: 0.33752rem "微软雅黑";
}
#author .author-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  border-radius: 1.20542rem;
  height: 0.60271rem;
  margin: 0 0.24108rem;
}
#author .author-right img {
  margin: 0;
  height: 0.48217rem;
  width: 0.48217rem;
}
#author .author-right p {
  width: 0.72325rem;
  font-size: 0.2893rem;
  color: white;
}
.splitline {
  margin: 0.24108rem 0;
  height: 0.02411rem;
  border: 0;
  background-image: linear-gradient(90deg, transparent, #e8f0f5, transparent);
}
.boline {
  border: none;
  height: 0.09643rem;
  background-color: #e8f0f5;
  margin: 0.24108rem 0;
}
.player-mv-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 10%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), transparent);
  display: flex;
  align-items: center;
}
.player-mv-header img {
  height: 0.8438rem;
  width: 0.8438rem;
  margin: 0 0.36163rem;
}
.player-mv-header p {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-size: 0.36163rem;
  letter-spacing: 0.02411rem;
}
