#yuer-bottom {
  margin: 5px 0;
  width: 100%;
  box-shadow: 0 1.4px 10px #e8f0f5;
  overflow: hidden;
}
#yuer-bottom #yuer-recomends {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
#yuer-bottom #yuer-recomends #recommend-item {
  display: inline-block;
  width: 25%;
  height: 47%;
  margin: 1.2% 4%;
}
#yuer-bottom #yuer-recomends #recommend-item img,
#yuer-bottom #yuer-recomends #recommend-item p {
  width: 100%;
  border-radius: 7.3px;
}
#yuer-bottom #yuer-recomends #recommend-item p {
  height: 15px;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: 9px "微软雅黑";
  letter-spacing: 0.8px;
}
#yuer-bottom #yuer-recomends #recommend-item p:nth-child(3) {
  color: gray;
}
