#yuer-cards,
.card {
  width: 100%;
  overflow: hidden;
}
#yuer-cards {
  box-shadow: 0 -0.062054rem 0.1054rem #e8f0f5;
}
.card {
  height: 7.52712rem;
  margin-bottom: 0.36163rem;
  box-shadow: 0 0.062054rem 0.1054rem #e8f0f5;
}
.card #about {
  margin-left: 0.37163rem;
  height: 15%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card #about .cardIcon {
  height: 0.47217rem;
}
#mv {
  height: 75%;
  width: 90%;
  margin: 0.47217rem 5% 0 5%;
  border-radius: 0.24108rem;
  background-color: #ebeffd;
}
#mv #mv-main {
  position: relative;
  height: 80%;
}
#mv #mv-main .mvPic {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.24108rem 0.24108rem 0 0;
  z-index: 1;
}
#mv #mv-main .mv-left,
#mv #mv-main .mv-right {
  position: absolute;
  z-index: 2;
  bottom: 0;
  color: white;
  width: 2.16976rem;
  height: 0.8438rem;
  display: flex;
  align-items: center;
}
#mv #mv-main .mv-left img,
#mv #mv-main .mv-right img {
  width: 0.36163rem;
  height: 0.36163rem;
}
#mv #mv-main .mv-left span,
#mv #mv-main .mv-right span {
  margin: 0 0.12054rem;
}
#mv #mv-main .mv-left {
  justify-content: left;
  left: 0.24108rem;
}
#mv #mv-main .mv-right {
  justify-content: right;
  right: -0.60271rem;
}
#infoOfMv-card {
  height: 17%;
  display: flex;
  align-items: center;
}
#infoOfMv-card span {
  font-size: 0.36163rem;
  margin: 0 2%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#infoOfMv-card span:nth-child(1) {
  width: 85%;
  font-weight: bold;
}
#infoOfMv-card span:nth-child(2) {
  font-size: 12px;
  color: gray;
  width: 17%;
}
#cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cards-header p {
  display: inline-block;
}
.refresh {
  font-size: 15px;
}
