#yuer-cards,.card{
    width: 100%;
    overflow: hidden;
}
#yuer-cards{
    box-shadow: 0 5px .2px rgb(232, 240, 245);
}

.card{
    height: 300px;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 4.5px 4.5px rgb(232, 240, 245);
    #about{
        margin-left: 5%;
        height: 17%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 12px;
        .cardIcon{
            height:  19.58px;
        }
    }
}

#mv{
    height: 80%;
    width: 90%;
    margin: 3%  5% 0 5%;
    border-radius: 5px;
    background-color: rgb(235, 239, 253);
    #mv-main {
        position: relative;
        height: 80%;
        .mvPic{
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 5px 5px 0 0;
            z-index: 1;
        }
        .mv-left,.mv-right{
            position: absolute;
            z-index: 2;
            bottom: 0;
            color: white; 
            // width:  85px;
            height:  35px;
            display: flex;
            align-items: center;
            img{
                width: 15px;
                height: 15px;
            }
            span{
                font-size: 12px;
                margin: 0 5px;
            }
        }
        .mv-left{
            // justify-content: left;
            left: 12px;
        }
        .mv-right{  
            // justify-content: right;
            right: 12px;
        }
        .mv-middle{
            border-left: 40px solid rgba(243, 241, 241,.7);
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            position: absolute;
            height: 0;
            width: 0;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    } 
}


#infoOfMv-card{
    height: 20%;
    display: flex;
    align-items: center;
    span{
        font-size: 15px;
        padding: 0 3%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    span:nth-child(1){
        width: 85%;
    }
    span:nth-child(2){
        font-size: 12px;
        color: gray;
        width: 17%;
    }
}

#cards-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    p{   
        
        display: inline-block; 
    }
}
.title{
    font: 15px "微软雅黑"; 
    margin:  0 19.9px 0 17px;
}
.splitline{
    margin: 10px 0  ;
    height: 1px;
    border: 0;
    background-color: rgb(232, 245, 250);
}

.ground{
    border: 1px solid gray;
    padding: 3px  10px;
    border-radius: 15px;
    color: gray;
    text-align: center;
    font-size: 10px;
}