.player-bac {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.message-box {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.85736rem;
  height: 3.85736rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.12054rem;
  background-color: #353535;
}
.message-box img {
  margin: 0.48217rem 0;
  width: 0.83938rem;
}
.message-box p {
  color: white;
  text-align: center;
  font-size: 0.31341rem;
  letter-spacing: 0.047922rem;
}
.audio-wrapper {
  position: absolute;
  z-index: 4;
  bottom: 5%;
  width: 100%;
  height: 17%;
}
.infoheight {
  height: 62%;
}
.audio-header {
  height: 9%;
  display: flex;
  align-items: center;
  color: white;
}
.audio-header .back {
  height: 0.8438rem;
  width: 0.8438rem;
  margin: 0.36163rem;
}
.audio-header .playing-name {
  width: 70%;
}
.audio-header p:nth-child(1) {
  font-size: 0.48217rem;
  line-height: 0.72325rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.audio-header p:nth-child(2) {
  white-space: nowrap;
  font-size: 0.2893rem;
  color: #e2e2e2;
}
.audio-btns {
  display: flex;
  height: 1.92868rem;
  justify-content: space-around;
  align-items: center;
}
.audio-btns img {
  height: 0.72325rem;
}
.audio-btns .musicBtn {
  height: 1.20542rem;
}
.audio-progress {
  height: 1.20542rem;
  display: flex;
  align-items: center;
}
.audio-progress .audio-time {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.audio-progress .audio-time .progress-bar-bg {
  width: 60%;
  position: relative;
  background-color: gray;
  height: 0.04792rem;
  border-radius: 0.50628rem;
  display: flex;
  align-items: center;
}
.audio-progress .audio-time .progress-bar {
  background-color: white;
  width: 0rem;
  height: 0.07233rem;
  border-radius: 0.04792rem;
}
.audio-progress .audio-time .progress-bar-bg span {
  width: 0.24108rem;
  height: 0.24108rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 0;
}
.audio-progress .audio-time span {
  color: white;
}
.audio-volume {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio-volume img {
  height: 0.72325rem;
  margin-right: 0.47917rem;
}
.audio-volume .volume-bar-bg {
  background-color: gray;
  position: relative;
  width: 70%;
  height: 0.04792rem;
  border-radius: 0.47917rem;
  display: flex;
  align-items: center;
}
.audio-volume .volume-bar-bg .volume-bar {
  background-color: white;
  width: 0rem;
  height: 0.07233rem;
  border-radius: 0.04792rem;
}
.audio-volume .volume-bar-bg .volume-bar-bg span {
  content: " ";
  background-color: white;
  position: absolute;
  left: 0;
}
.overcover {
  position: relative;
  z-index: 4;
}
.player-bac::after {
  content: "";
  position: fixed;
  background: inherit;
  filter: blur(0.48217rem);
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.coverplayer {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 75, 0.6);
}
#player-bac .playerlist-main {
  position: absolute;
  width: 100%;
  top: 6.8%;
  height: 43.2%;
  overflow-y: scroll;
}
.player-list {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.player-list-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.message-enter,
.message-leave-to {
  opacity: 0;
}
.message-enter-active,
.message-leave-active {
  transition: opacity 0.5s;
}
.listinout-enter,
.listinout-leave-to {
  top: 100%;
  opacity: 0;
}
.listinout-enter-active,
.listinout-leave-active {
  transition: all 0.5s;
}
