#player-mv{
    // position: fixed;
    height: 65%;
    width: 100%;
    background-color: white;
}

#playing{
    height: 50%;
    width: 100%;
    background-color: black;
    video{
        //设置video元素的高度，只设置宽度的话，高度会等比例的变化，可能导致内容超出容器高度
        //设置高度后，视频高度就和容器高度一致，不过这样video就不会自动填满容器，会出现白边
        //想要video自动填满整个容器，没有白边，设置width:100%即可
        //想要控制video高度一定，那么就也要设置height了
        height: 100%;
        width: 100%;
    }  
 } 

#mv-hide{
    height: 35%;
    #title{
        display: flex;
        height: 35%;
        width: 100%;
        align-items: center;
        img:nth-child(1){
            margin: 0 10px;
            height:  25px;
        }
        span:nth-child(2){
            font:  20px/50px "微软雅黑";
            height: 50px;
            width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; 
        }
    }
    #infoOfMv{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            margin: 0 10px;
            font-size: 12px;
            color: gray;
        }
    }
}

 
 #author{
    height: 10%;
    width: 100%;
    margin: 2.5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 50px;
        width:  50px;
        border-radius: 50%;
        margin: 0 10px;
    }
    .author-name{
        width: 70%;
        color: gray;
        font: 14px "微软雅黑"
    }
    .author-right{
        display: flex;
        justify-content:space-around;
        align-items: center;
        background-color: red;
        border-radius: 50px;
        height: 25px;
        margin: 0 10px;
        img{
            margin: 0;
            height: 20px;
            width: 20px;

        }
        p{
            width: 30px;
            font-size: 12px;
            color: white;
        }
    }
 }
 .line{
    height: 2.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
 }
 .splitline{
    height: 1px;
    border: 0;
    background-image: linear-gradient(90deg,transparent,rgb(232, 240, 245),transparent);
}
.boline{
    border: none;
    height:  4px;
    background-color: rgb(232, 240, 245);
}
.player-mv-header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 10%;
    background-image: linear-gradient(180deg,rgba(0, 0, 0,.7),rgba(0, 0, 0,.5),transparent);
    display: flex;
    align-items: center;
    img{
        height:  35px;
        width: 35px;
        margin: 0 15px;

    }
    p{  
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
        font-size: 17px;
    }
}
