.list-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
  height: 50px;
  background-color: white;
  padding: 0 10px;
  letter-spacing: 0.5px;
}
.list-top .top-left {
  display: flex;
  align-items: center;
}
.list-top .top-left img {
  height: 25px;
  margin: 0 10px;
}
.list-top .top-left span {
  font-size: 15px;
}
.list-top .top-right {
  background-color: red;
  height: 80%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 5px;
}
.list-top .top-right img {
  height: 25px;
}
.list-top .top-right span {
  font: 14px/40px "微软雅黑";
  color: white;
  margin-bottom: 1.5px;
}
