#comments {
  position: absolute;
  top: 62.5%;
  height: 37.5%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.comments-title {
  font-size: 20px;
  margin: 0.24108rem;
}
.comments-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f3f3;
  height: 50px;
}
.loading {
  text-align: center;
  width: 100%;
  font: 12px/40px "微软雅黑";
}
