#yuer-middle-pics{
    position: relative;
}
#middle-rotchare{
    position: relative;
    height: 200px;
    // 七张图加上边距，要大于700%
    width: 1200%;
    overflow: hidden;
    .rotchartPic{
        position: relative;
        height:  180px;
        width: 8.1%;
        margin: 10px .117%;
        border-radius: 5px;
    }
   
}
#rotchare-dots{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,0);
    height: 5px;
    width:  100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    span{
        position: relative;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: white;
    }
}
//手动控制left值实现移动，加上过渡动画就行了


