.listmain{
    position: relative;
    width: 100%;
    top: 360px;
    margin-bottom: 50px;
    z-index: 1;
    background-color: white;
    li{
        list-style: none;
        .list-music{
            position: relative;
            height:  60px;
            display: flex;
            align-items: center;
            .num{
                width: 15%;
                font-size: 20px;
                text-align: center;
                color: #939393;
            }
            .music-name{
                width:  275px;
                letter-spacing: .7px;
                p:nth-child(1){
                    font-size: 15px;
                    line-height: 30px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .tag-author{
                    display: flex;
                    align-items: center;
                    .tag{
                        height: 20px;
                        // margin:  0 10px;
                    } 
                    img:nth-child(1){
                        height: 23px;
                        
                    }
                    .author-name{
                        font-size:  10px;
                        color: #828282;
                        margin-left: 3px;
                    }
                }
                
            }
            .option{
                position: absolute;
                right: 0;
                width: 50px;
            }
            .mv-list{
                width: 30px;
                height: 30px;
            }
        }
    }
}
.toplay{
    color: black;
}
.toplay:active{
    color: black;
}
.toplay:hover{
    text-decoration: none;
    color: black;
}